body.album {
  background-attachment: fixed;
  background-image: url('../images/blurred_backgrounds/blur_bg_3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}

.album-cover-art {
  left: 20%;
  margin-top: 1rem;
  position: relative;
  width: 60%;
}

.album-view section {
  @include clear-fix;
}

.album-view-details {
  padding: 1rem;
  position: relative;
  top: 1.5rem;

  .album-view-title {
    font-size: 2rem;
    font-weight: 300;
  }

  .album-view-artist {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .album-view-release-info {
    font-size: .75rem;
    font-weight: 300;
  }

}

.album-view-song-item {
  border-bottom: 1px solid rgba($white, .5);
  height: 3rem;
}

.song-item-number {
  min-width: 30px;
  text-align: center;
  width: 5%;
}

.song-item-title {
  width: 85%;
}

.song-item-duration {
  width: 5%;
}

.album-song-button {
  background-color: $white;
  border-radius: 50%;
  color: $pink;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  text-align: center;
  width: 28px;

  span {
    line-height: 28px;
  }
}

.album-song-button:hover {
  background-color: $pink;
  color: $white;
  cursor: pointer;
}

.current-time, 
.total-time {
  font-size: .8em;
}

@media (max-width: 640px) and (min-width: 320px) {
  .album-view-details {
    text-align: center;
  }

  .album-view-title {
    margin-top: 0;
  }
}

@media (max-width: 1024px) and (min-width: 320px) {
  .album-view-song-list {
    margin: auto;
    position: relative;
    top: 1rem;
    width: 80%;
  }
}
