body.landing {
  background-color: $blackberry;
}

.hero-content {
  background-image: url('../assets/images/bloc_jams_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  position: relative;

  h1 {
    display: none;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .5rem;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 0 $blackberry;
    text-transform: uppercase;
    top: 40%;
    width: 100%;
  }
}


.selling-points {
  @include clear-fix;
  position: relative;
}

.point {
  opacity: 1;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
  color: $cerise;
  font-size: 5rem;
}
