.navbar {
  position: relative;
  padding: 0.5rem;
  background-color: rgba($boysenberry, 0.5);
  z-index: 1;
  .logo {
    position: relative;
    left: 2rem;
    cursor: pointer;
  }
  .links-container {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: $white;
    text-decoration: none;
    .navbar-link {
      display: table-cell;
      position: relative;
      height: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      vertical-align: middle;
      color: $white;
      font-size: 0.625rem;
      letter-spacing: 0.05rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
    }
    .navbar-link:hover {
      color: $cerise;
    }
  }
}