.navbar {
  background-color: rgba($boysenberry, .5);
  padding: .5rem;
  position: relative;
  z-index: 1;

  .logo {
    cursor: pointer;
    left: 2rem;
    position: relative;
  }

  .links-container {
    color: $white;
    display: table;
    height: 100px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;

    .navbar-link {
      color: $white;
      cursor: pointer;
      display: table-cell;
      font-size: .625rem;
      font-weight: 700;
      height: 100%;
      letter-spacing: .05rem;
      padding-left: 1rem;
      padding-right: 1rem;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
    }

    .navbar-link:hover {
      color: $cerise;
    }

    .navbar-link:active {
      background-color: $white;
      color: $cerise;
    }
  }
}
