.player-bar {
  background-color: rgba($white, .3);
  bottom: 0;
  height: 200px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 100;

  a,
  a:hover {
    color: $white;
    cursor: pointer;
    font-size: 1.1rem;
    text-decoration: none;
    vertical-align: middle;
  }

  .container {
    display: table;
    min-height: 100%;
    padding: 0;
    width: 90%;
  }

  .control-group {
    display: table-cell;
    vertical-align: middle;
  }

  .main-controls {
    padding-right: 1rem;
    text-align: left;
    width: 25%;

    .previous {
      margin-right: 16.5%;
    }

    .play-pause {
      font-size: 1.6rem;
      margin-right: 15%;
    }

  }

  .currently-playing {
    position: reltive;
    text-align: center;
    width: 50%;

    .song-name,
    .artist-name,
    .artist-song-mobile {
      font-size: .75rem;
      font-weight: 300;
      margin: 0;
      text-align: center;
      width: 100%;
    }

    .song-name,
    .artist-song-mobile {
      top: 1.1rem;
    }

    .artist-name {
      bottom: 1.1rem;
    }

    .artist-song-mobile {
      display: none;
    }

  }

  .seek-control {
    font-size: .8rem;
    position: relative;

    .current-time {
      position: absolute;
      top: .5rem;
    }

    .total-time {
      position: absolute;
      right: 0;
      top: .5rem;
    }
  }

  .seek-bar {
    background-color: rgba($white, .3);
    border-radius: 2px;
    cursor: pointer;
    height: .25rem;
    position: relative;

    .fill {
      background-color: $white;
      border-radius: 2px;
      height: .25rem;
      width: 36%;
    }

    .thumb {
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;
      height: .5rem;
      left: 36%;
      margin-left: -.25rem;
      margin-top: -.25rem;
      position: absolute;
      top: 50%;
      -moz-transition: width 100ms ease-in-out,
                  height 100ms ease-in-out,
                  margin-top 100ms ease-in-out,
                  margin-left 100ms ease-in-out;
      -webkit-transition: width 100ms ease-in-out,
                  height 100ms ease-in-out,
                  margin-top 100ms ease-in-out,
                  margin-left 100ms ease-in-out;
      transition: width 100ms ease-in-out,
                  height 100ms ease-in-out,
                  margin-top 100ms ease-in-out,
                  margin-left 100ms ease-in-out;
      width: .5rem;
    }

    &:hover .thumb {
      height: 1.1rem;
      margin-left: -.5rem;
      margin-top: -.5rem;
      width: 1.1rem;
    }
  }

  .volume {
    text-align: right;
    width: 25%;

    .icon {
      display: inline-block;
      font-size: 1.1rem;
      vertical-align: middle;
    }

    .seek-bar {
      display: inline-block;
      vertical-align: middle;
      width: 5.75rem;
    }
  }
}

@media (max-width: 640px) {
  .player-bar {
    background-color: rgba($black, .6);
    padding: 1rem;

    .main-controls,
    .currently-playing,
    .volume {
      display: block;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 100%;
    }

    .main-controls,
    .volume {
      min-height: 3.5rem;
    }

    .currently-playing {
      min-height: 2.5rem;

      .artist-song-mobile {
        display: block;
      }
    }

    .artist-name,
    .song-name {
      display: none;
    }


  }
}
